.question {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .faq-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px 30px;
    background-color: #ffffff;
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgb(228, 250, 235));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .faq-container h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #343a40;
    font-size: 2.5em;
  }
  
  .faq {
    border-top: 1px solid #e9ecef;
  }
  
  .faq-question {
    border-bottom: 1px solid #e9ecef;
    padding: 20px 0;
    cursor: pointer;
    background-color: #f8f9fa;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .faq-question:hover {
    background-color: #e2e6ea;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  .faq-question h2 {
    margin: 0;
    font-size: 1.2em;
    color: #495057;
    display: flex;
    align-items: center;
  }
  
  .faq-question i {
    margin-right: 10px;
    color: #007bff;
  }
  
  .faq-answer {
    display: none;
    padding: 20px 20px;
    background-color: #ffffff;
    margin-top: 2px;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .faq-answer p {
    margin: 0;
    color: #6c757d;
    font-size: 1em;
    line-height: 1.5;
  }
  
  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  .faq-question.active .faq-answer {
    display: block;
  }
  